@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-family: 'Lora', serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  font-weight: 700;
}

figure {
  width: 25vw;
}

@media (max-width: 992px) {
  figure {
    width: 50vw;
  }
}

button {
  width: 15%;
}

@media (max-width: 992px) {
  button {
    width: 25vw;
  }
}

.text-crossed {
  text-decoration: line-through;
}

footer {
  padding-top: 0.6rem;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
}