.header {
  font-weight: 700;
}

figure {
  width: 25vw !important;
}

@media (max-width: 992px) {
  figure {
    width: 50vw !important;
  }
}

button {
  width: 15%;
}

@media (max-width: 992px) {
  button {
    width: 25vw;
  }
}

.text-crossed {
  text-decoration: line-through;
}

.container {
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
